body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* reset styles */

 p, h1, h2, h3, h4, h5, h6 {
    margin-top:0; 
    margin-bottom: 0;
}

ul {
    list-style: none;
    /* margin-top:0; 
    margin-bottom: 0; 
    padding-left: 0; */
    margin: 0;
    padding: 0;
}

a.menu, a.contact-info, .contact-item, .logo {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto; 
}

/* ------------------HEADER------------------------ */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17; /* 21/18 */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5; 
    padding-top: 24px;
    padding-bottom: 24px; 
    margin-right: 76px;
}

.logo .studio-color {
  color: #2e2f42 ;
}

.header-menu {
  display: flex;
  justify-content: space-between; 
  /* flex-grow: 1; */
}

.navigation {
    color:#2E2F42;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17; /* 21/18 */
    letter-spacing: 0.03em;
    display: flex; 
    align-items: center;
}

.menu-list {
  display: flex;
  gap:40px;
  align-items: center;
  /* padding-left: 76px; */
}

.menu {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-info {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
  display: flex;
  height: 72px;
  gap:40px;
  /* margin-left: auto;  works with display: block; on buttons what about links? */
  align-items: center;
}

.contact-item {
    color: #434455; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu:hover, menu:active {
  color: #404BBF;
}

.menu:focus {
  color: #404BBF;
}

.contact-item:hover {
  color: #404BBF;
}

.contact-item:focus {
  color: #404BBF;
}

/* -----------HERO-SECTION--------- */
.section {
  padding: 120px 0;
}

.hero-section {
    color: #ffffff;
    background-color: #2e2f42; 
    display: flex;
    padding: 188px 0;
    /* width: calc((100% - 2 * 88px)); */
    /* align-self: center;  */
    
}

.hero-header {
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}

.button {
    color: #ffffff;
    background-color:#4D5AE5; 
    cursor: pointer; 
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-align: center;
    margin: auto; 
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    /* justify-content: center; */
}

.button:hover, button:focus {
    color:#ffffff;
    background-color:#404BBF;
}


/* -----------FEATURES------------- */
.features-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex; 
  gap: 24px;
  /* row-gap: 24px; */
  /* max-width: 1128; */
  
}

.feature-item {
  width: calc((100% - 3 * 24px) / 4);
}

.item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
    margin-bottom: 8px;
}

.item-text {
    color: #434455; 
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* ------------OUR TEAM-------------------- */
.section-team {
    background-color: #f4f4fd; 
     padding: 120px 0;
}

.section-header {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    padding-top: 120px;
    margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px; 
  padding-bottom: 120px;
}

.team-item {
    background-color: #ffffff;
}

.team-item:first-child {
    border-radius: 0px 0px 4px 4px;
}

.team-member {
  padding: 32px 0; 
  /* display: inline-flex;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px; */
}

.team-item .item-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-item .item-text {
  text-align: center;
}

/* -------------OUR PORTFOLIO-------------- */
.section-portfolio {
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-top: 120px;
    padding-bottom: 120px;
} 

.section-header {
  margin-bottom: 72px;
}

.portfolio-example {
   padding: 32px 16px; 
   border: 1px solid #e7e9fc; 
   border-top: none; 
   margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  border: 1px solid #E7E9FC; 
  background: #FFF;
}
/* --------------FOOTER---------------- */
.section-footer {
    color:#ffffff;
    background-color:#2e2f42; 
    padding-top: 100px;
    padding-bottom: 100px;
}


.section-footer > a {
  display: inline-block;
  margin-bottom: 16px;
}

.section-footer .logo .studio-color {
  color: #f4f4fd ;
  max-width: 264px;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}