body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a.menu, a.contact-info, .contact-item, .logo {
  text-decoration: none;
}

ul {
     list-style: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17; /* 21/18 */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
}

.logo .studio-color {
  color: #2e2f42 ;
}

.navigation {
    color:#2E2F42;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17; /* 21/18 */
    letter-spacing: 0.03em;
}

.menu {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  letter-spacing: 0.02em;
}

.contact-info {
    font-style: normal;
}

.contact-item {
    color: #434455; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu:hover, menu:active {
  color: #404BBF;
}

.menu:focus {
  color: #404BBF;
}

.contact-item:hover {
  color: #404BBF;
}

.contact-item:focus {
  color: #404BBF;
}

.hero-section {
    color: #ffffff;
    background-color: #2e2f42;
}

.hero-header {
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.button {
    color: #ffffff;
    background-color:#4D5AE5; 
    cursor: pointer; 
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
}

.button:hover, button:focus {
    color:#ffffff;
    background-color:#404BBF;
}

.item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
}

.item-text {
    color: #434455; 
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.section-team {
    background-color: #f4f4fd;
}

.section-header {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-item {
    background-color: #ffffff;
}

.section-portfolio {
    line-height: 24px;
    letter-spacing: 0.02em;
} 

.section-footer {
    color:#ffffff;
    background-color:#2e2f42; 
}

.section-footer .logo .studio-color {
  color: #f4f4fd ;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}